@using HearYe.Client.Data
@using HearYe.Shared;
@inject IHearYeService Service
@inject StateContainer State

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@modalTitle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
    </div>
    <div class="modal-body">
        @if (displayError)
        {
            <p>Error loading user list. Please try again later.</p>
        }
        else if (userList is not null && userList.Any())
        {
            <h4><span class="badge text-bg-dark">Group admins</span></h4>
            <ul class="list-group list-group-flush">
                @foreach (var user in userList.Where(u => u.MessageGroupRoleId == 1))
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <strong>@user.UserName</strong> <span class="text-muted">(ID: @user.UserId)</span>
                        </div>
                        <div class="d-flex gap-2">
                            @if (userRole == 1 && user.UserId != userId)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item active" type="button" aria-current="true">Admin</button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button">Member</button>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-danger btn-sm">Remove user</button>
                            }
                        </div>
                    </li>
                }
            </ul>
            <hr class="mt-3 mb-3" />
            <h4><span class="badge text-bg-dark">Group members</span></h4>
            <ul class="list-group list-group-flush">
                @foreach (var user in userList.Where(u => u.MessageGroupRoleId == 2))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>@user.UserName</strong> <span class="text-muted">(ID: @user.UserId)</span>
                        </div>
                        <div class="d-flex gap-2">
                            @if (userRole == 1 && user.Id != userId)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Member</button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" type="button">Admin</button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item active" type="button" aria-current="true">Member</button>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-danger btn-sm">Remove user</button>
                            }
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="list-group placeholder-glow">
                <li class="list-group-item placeholder"></li>
                <li class="list-group-item placeholder"></li>
                <li class="list-group-item placeholder"></li>
                <li class="list-group-item placeholder"></li>
            </ul>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="CloseModal">Close</button>
    </div>
</div>

@code {
    private string modalTitle = "Loading...";
    private bool displayError = false;
    private IEnumerable<MessageGroupMemberWithName>? userList;
    private int userRole;
    private int userId;

    protected override async Task OnParametersSetAsync()
    {
        if (State.ModalIsOpen && State.MembersModalId > 0)
        {
            userList = await Service.GetMessageGroupMembersAsync(State.MembersModalId);
            bool validDbId = int.TryParse(State.UserDbId, out int userDbId);

            if (userList is null || !validDbId)
            {
                displayError = true;
                return;
            }

            var user = userList.Where(u => u.UserId == userDbId).FirstOrDefault();

            if (State.UserGroups is not null && user is not null && user.MessageGroupRoleId is not null)
            {
                userRole = (int)user.MessageGroupRoleId;
                userId = userDbId;

                MessageGroup? group = State.UserGroups.Where(g => g.Id == State.MembersModalId).FirstOrDefault();
                if (group is not null)
                {
                    modalTitle = group.MessageGroupName + " members";
                }
                else
                {
                    modalTitle = "Group members";
                }
            }
            else
            {
                displayError = true;
                return;
            }

            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }

    private void CloseModal()
    {
        State.MembersModalId = 0;
        State.ModalIsOpen = false;
    }
}
